.navaddpage {
  left: 0;
  right: 0;
  top: 0;
}

.account-tabs {
  top: 60px;
  width: 100%;
}

.account-item a:hover {
  color: white;
  text-decoration: none;
}

.account-details {
  width: 70%;
  flex-wrap: wrap;
}

.container-bg {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

.dynamic-table {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dynamic-table nav {
  padding-top: 60px;
  margin-left: 50px;
}

.data {
  top: 80px;
  height: inherit;
}
.nav-link .fa-user {
  animation: blink 0.6s infinite alternate-reverse;
}

@keyframes blink {
  from {
    color: rgba(255, 255, 255, 0.2);
  }
  to {
    color: #ebbf73;
  }
}
