.container-bg {
   background: #232526;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: white;
}

.card-img-top {
  padding: 10px;
}

.card-footer a {
   color: white !important;
   border-color: rgba(255, 255, 255, 0.5);
   background-color: rgb(65, 65, 65);
}
.card-footer a:hover {
   color: white !important;
   border-color: rgba(255, 255, 255, 0.582);
   background-color: rgba(0, 0, 0, 0.123);
}

.card {
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.055);
}
