h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../ite/banner.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
  text-shadow: 1px 2px 2px rgba(41, 41, 41, 0.445);
}

.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.096);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero .container {
  padding-top: 0;
  top: -100px;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.hero h1 span {
  color: #eec06f;
}

.hero h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
}

.hero .btns {
  margin-top: 30px;
}

.hero .btn-menu,
.hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  background: #e9b762;
  border: 2px solid #d6a95c;
}

.hero .btns a {
  text-decoration: none;
}

.hero .btn-menu:hover,
.hero .btn-book:hover {
  background: #d6a653;
  border: 2px solid #c29953;
  color: #fff;
}

.hero .btn-book {
  margin-left: 15px;
}

.box:hover .media-text h4,
.box:hover .media-text p {
  text-shadow: 1px 4px 5px black;
  color: rgb(255, 255, 255);
}

.main {
  margin-top: -50px;
}

.big-container {
  margin-top: 50px;
  width: 100%;
  height: 75vh;
  background: url("../images/review_bg.jpg") top left;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding: 0;
}

.big-container:before {
  content: "";
  background: rgba(0, 40, 78, 0.192);
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  text-align: left;
  text-shadow: 1px 2px 2px black;
}

.main-container {
  padding: 0;
  position: relative;
  top: 0;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.rev-section {
  background: url("../images/review_bg.jpg") left center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  margin: auto;
  padding: 0 1rem;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.418);
}

.rev-section::before {
  content: "";
  background: rgba(0, 40, 78, 0.192);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.5rem;
}

.note {
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
  color: white;
}

.reviews {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.review {
  margin: 0 2rem;
  min-width: 300px;
  flex: 1;
}

.head-review {
  margin: 1.75rem auto;
  width: 100px;
  height: 100px;
}

.head-review img {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
}

.body-review {
  color: white;
  padding: 1.3rem;
  border-radius: 17px;
}

.name-review {
  font-size: 1.1rem;
  color: inherit;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.place-review {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.rating {
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}

.desc-review {
  padding-top: 5px;
  margin: auto;
  width: 70%;
  line-height: 1.1rem;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.712);
}

.container-media {
  position: relative;
  background: url("../images/aboutt.jpg") top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  padding-top: 100px;
  margin-top: 0;
  margin-bottom: 0;

}

.container-media::before {
  content: "";
  background: rgba(71, 71, 71, 0.185);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.container-media h1 {
  text-shadow: 1px 2px 5px rgba(2, 2, 2, 0.274);
}

.container-media a {
  color: transparent;
}

.container-media .box {
  display: inline-block;
  position: relative;
  width: calc(400px - 40px);
  height: calc(300px - 50px);
  background: #000;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 17px;
  background: rgba(255, 255, 255, 0);
  background-size: cover;
}

.container-media .box .icon {
  text-shadow: 2px 2px 7px rgba(2, 2, 2, 0.185);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}
.fa-facebook {
  color: #5c7ab8 !important;
}
.fa-twitter {
  color: #73bae6 !important;
}
.fa-instagram {
  color: #d46c8f !important;
}

.container-media .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container-media .box:hover .icon .fa-facebook {
  color: #4267B2 !important;
  left: 50px;
}
.container-media .box:hover .icon .fa-twitter {
  color: #1DA1F2 !important;
}
.container-media .box:hover .icon .fa-instagram {
  color: #E1306C !important;
  left: calc(100% - 30px);
  /*left: 50px;*/
}

/*#images-instagarm {
  padding-left: 10px;
}*/

.container-media .box .icon .fa-brands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.container-media .box:hover .icon .fa-brands {
  font-size: 40px;
}

.container-media .box .media-text {
  position: absolute;
  margin-left: 15%;
  top: 50%;
  transition: ease-in 0.5;
  color: red !important;
}

.media-text h4,
.media-text p {
  color: rgba(255, 255, 255, 0);
  transition: ease-in 0.1s;
}

.container-media .box:hover .media-text {
  top: 50%;
  display: block;
}

@media (max-width: 992px) {
  .hero .container {
    padding-top: 98px;
  }

  .container-media {
    height: 200%;
  }
}

@media (max-width: 678px) {
  .review {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .hero .play-btn {
    margin-top: 30px;
  }

  .img {
    width: 90%;
    height: 100%;
  }

  .big-container {
    height: 110vh;
  }
}

@media (min-width: 992px) {
  .big-container {
    height: 85vh;
  }
}

@media (max-height: 500px) {
  .hero {
    height: auto;
  }

  .hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}