h1, h2, h3, h4, h5, p {
  color: white;
}

.container-media {
  background-image: url("../images/about-bg.jpg");
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  margin: 250px auto;
  margin-top: 0px;
  padding-top: 100px;
  margin-bottom: 500px;
}

.container-media .box {
  display: inline-block;
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
}

.container-media .box .icon {
  text-shadow: 1px 4px 5px black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.5s;
  z-index: 1;
}

.container-media .box:hover .icon {
  top:20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%
}

.container-media .box .icon .fa-brands{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.container-media .box:hover .icon .fa-brands{
  font-size: 40px;
}

.container-media .box .media-text{
  position: absolute;
  margin-left: 15%;
  top: 50%;
  transition: ease-in 0.5;
  color: red !important;
}

.media-text h4, .media-text p {
  color: rgba(255, 255, 255, 0);
  transition: ease-in 0.1s;
}

.container-media .box:hover .media-text {
  top: 50%;
  display:block;
}

.box:hover .media-text h4, .box:hover .media-text p {
  color: rgb(255, 255, 255);
}

.main {
  margin-top: -50px;
}

.big-container {
  margin-top: 50px;
  width: 100%;
  height: 75vh;
  background: url("../images/aboutt.jpg") top center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding: 0;
}

.big-container:before {
  content: "";
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  text-align: left;
}
.main-container {
  padding: 0;
  position: relative;
  top: 0;
}

.img {
  width: 100%;
  height: 100%;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url("../ite/banner.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  padding-top: 0;
  top: -100px;
}
@media (max-width: 992px) {
  #hero .container {
    padding-top: 98px;
  }
  .container-media {
    height: 200%;
  }
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#hero h1 span {
  color: #cda45e;
}
#hero h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
}
#hero .btns {
  margin-top: 30px;
}
#hero .btn-menu,
#hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid #cda45e;
}
#hero .btn-menu:hover,
#hero .btn-book:hover {
  background: #cda45e;
  color: #fff;
}
#hero .btn-book {
  margin-left: 15px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #hero .play-btn {
    margin-top: 30px;
  }
  .img {
    width: 90%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .big-container {
    height: 85vh;
  }
}
@media (max-height: 500px) {
  #hero {
    height: auto;
  }
  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
