@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 1900px;
  background-color: rgb(51, 51, 51);
}

.nav {
  background-color: rgb(51, 51, 51);
  opacity: 0.9;
  padding: 5px;
  left: 0;
  right: 0;
}
.nav-item a {
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-item a:hover {
  text-decoration: overline;
  transition: ease-in 0.2s;
  color: rgb(145, 145, 145);
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1a1814;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1a1814;
  border-top-color: #cda45e;
  border-bottom-color: #cda45e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
